@import "../../styles/colors.scss";

input[type="password"],
input[type="email"],
input[type="text"] {
  border: none;
  outline: none;
}

.inputWrap {
  margin-top: 4rem;
  position: relative;
  border-bottom: 0.2rem dashed $disabledColor;
  
  &[data-invalid="false"]{
    border-color: $validColor;

    &:after{
      background: $validColor;
    }
  }

  &[data-invalid="true"]{
    border-color: $primary;

    &:after{
      background: $primary;
    }
  }

  &:after{
    content: '';
    position:absolute;
    bottom:-0.2rem;
    left: 0;
    height: 0.2rem ;
    width:100%;
    background: $disabledColor;
    transform-origin: 0%;
    transform: scaleX(0);
    transition: transform 0.5s ease, background-color 0.5s ease;
  }

  &:focus-within{
    border-color: transparent;

    &:after{
      transform: scaleX(1);
    }

    label{
      transform: translateY(-2rem) scale(0.9);
      
    }
  }

  input {
    width: 100%;
    line-height: 2.4rem;
    padding: 0rem 4rem 0rem 0.8rem;

    &:not(:placeholder-shown) + label{
        transform: translateY(-2rem) scale(0.9);
    }
  }

  label {
    cursor:text;
    position: absolute;
    font-size: 1.2rem;
    left:0.8rem;
    color: $disabledColor;
    transform-origin: 0%;
    transform: translateY(0);
    transition: transform 0.5s ease;
  }

  .status {
    position: absolute;
    right: 0.8rem;
    font-size: 1rem;
    cursor: help;
  }
}
