{
  "settings": {
    "react":{
      "version":"detect"
    }
  },
  "extends": [
    "standard-with-typescript",
    "plugin:react/recommended"
  ],
  "plugins": ["react"],
  "parserOptions": {
    "project":"./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/consistent-type-definitions":"off",
    "@typescript-eslint/strict-boolean-expressions":"off",
    "@typescript-eslint/camelcase":0,
    "@typescript-eslint/no-unused-vars":"off",
    "react/jsx-uses-react":"error",
    "react/jsx-uses-vars":"error"
  }
}