@import "../../styles/colors";

.surveyListWrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: $disabledBackground;

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 80rem;
    padding: 2.4rem 4rem;
    flex-grow: 1;

    h2 {
      color: $primaryDark;
      font-size: 2rem;
      margin-bottom: 2.4rem;
      font-weight: bold;
    }
  }
}




