@import "../../../../styles/breakpoints";

.listWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: $tablet) {
  .surveyListWrap {
    .contentWrap {
      ul {
        flex-direction: column;
      }
    }
  }
}