@import "./colors.scss";

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  border: none;
  line-height: 5rem;
  outline: none;
  transition: opacity 0.2s linear;
  &:hover{
    opacity: 0.9;
  }
  &:disabled{
    background-color:$disabledBackground;
    color: $disabledColor;

    &:hover{
      opacity: 1;
    }
  }
}