@import "../../styles/colors.scss";

.login {
  background-color: $background;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  .form {
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 40rem;
    padding: 4rem;
    border-radius: 0.8rem;
    align-self: center;
    box-shadow: 0px 1px 8px -1px transparentize($black, 0.8);

    h2 {
      color: $primaryDark;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
    }

    button[type="submit"] {
      margin-top: 3.2rem;
    }

    .link {
      text-align: center;
      color: $primary;
      font-size: 1.4rem;
      text-transform: lowercase;
      margin-top: 1.6rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
