@import '../../../../styles/colors';

.errorWrap {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 4rem;
  border-radius: 0.8rem;
  align-items: center;
  text-align: center;

  span{
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
}
