@import '../../../../styles/colors.scss';
@import '../../../../styles/breakpoints.scss';

hgroup{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.6rem;

  h2{
    color: $primaryDark;
    font-size: 2.2rem;
    font-weight: bold;
  }

  .calendarWrap{
    width:8rem;
    margin-right: 1.6rem;
  }
}

.answersList{
  list-style: none;
  display: flex;
  flex-direction: column;
}

button{
  margin-top: 2.4rem;
}

@media only screen and (max-width: $tablet) {
  hgroup {
    h2 {
      font-size: 1.8rem;
    }

    .calendarWrap {
      width: 6rem;
      margin-right: 1.6rem;
    }
  }

}